 <nav class="navbar">
    <div class="first">
      <img src="/Krishna Camps Logo Final NEW.jpg" alt="Krishna_Camps_Logo">
      <h1>Krishna Camps & Tour</h1>
    </div>
    <div class="navlist">
      <ul>
        <li><a href ="/">Home</a></li>
        <li><a href ="/activities">Activities</a></li>
        <li><a href ="/about">About Us</a></li>
        <li><a href ="/contact-us">Contact-us</a></li>
      </ul>
    </div>
  </nav>